/**
*
* Site Styles
*
*/


@import 'partials/config';
/*----------  Import SLATE Framework CSS Components  ----------*/

// @import '~@doodl/slate/scss/all';

@import "~@doodl/slate/scss/core/all";
// @import "menu-bar/menu-bar";
// @import "sticky-menu-bar/sticky-menu-bar";
@import "~@doodl/slate/scss/silverstripe/all";
@import "~@doodl/slate/scss/hamburger/hamburger";
@import "~@doodl/slate/scss/mobile-menu-drawer/mobile-menu-drawer";


/*----------  Add Custom Styling Here  ----------*/
// Use configuration variables where possible
// Use partials wherever possible
@import 'partials/_page-menu-custom';
@import 'partials/utils';
@import 'partials/page-video-section';
@import 'partials/elemental-content-image';
@import 'partials/elemental-padded-grid';
@import 'partials/page-footer';
@import 'partials/page-contact';
@import 'partials/page-faqs';
::selection {
    background: white;
}
html {
    background-color: $black;
}
body {
    background-image: linear-gradient(133deg, rgb(255,250,250), rgba(128,206,214,1), rgba(107,203,190,1));
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
