// ------------Colours------------- //
$white: #fff;
$red: #DD482A;
$black: #293144;
$blue: #80CED6;
$lightBlue: #CCDBDC;
$shaddow-colour: #6d6d6d;
$boxShaddow: 0.3em 0.5em 1em 0px $shaddow-colour;
$input-box-colour: #0000004E;
$slate-primary-colour: $black;
$slate-secondary-colour: $blue;


// ------------Base------------- //
 
//  $slate-base-default-box-sizing: border-box !default;
 
//  $slate-base-default-font-size: 16px !default;
 
$slate-base-body-colour: $white;
$slate-base-body-font-family: 'Montserrat', sans-serif;
//  $slate-base-body-font-size: 1rem !default;
$slate-base-body-font-weight: 300;
//  $slate-base-body-line-height: 1.4 !default;
 
$slate-base-heading-colour: $slate-primary-colour;
$slate-base-heading-font-family: 'Montserrat', sans-serif;
$slate-base-heading-font-weight: 900;
$slate-base-heading-line-height: 1;
$slate-base-heading-text-transform: uppercase;
$slate-base-heading-base-font-size: 1.8rem;
$slate-base-heading-variance-step: 0.1rem;
//  $slate-base-heading-trailing-margin-base: 1rem !default;
//  $slate-base-heading-trailing-margin-variance-step: 0.1rem !default;
 
//  $slate-base-p-margin: 0 !default;
//  $slate-base-p-text-transform: none !default;
//  $slate-base-p-trailing-margin: 1rem !default;
 
$slate-base-anchor-colour: $white; 
//  $slate-base-anchor-font-weight: $slate-base-body-font-weight !default;
//  $slate-base-anchor-text-decoration: none !default;
//  $slate-base-anchor-transition: color $slate-animation-timing $slate-animation-easing !default;
// $slate-base-anchor-colour--visited: $white;
//  $slate-base-anchor-text-decoration--visited: $slate-base-anchor-text-decoration !default;
//  $slate-base-anchor-colour--hover: darken($slate-base-anchor-colour,15%) !default;
//  $slate-base-anchor-cursor--hover: pointer !default;
//  $slate-base-anchor-text-decoration--hover: $slate-base-anchor-text-decoration !default;
 
//  $slate-base-strong-font-weight: 700 !default;
 
//  $slate-base-address-trailing-margin: 1rem !default;
//  $slate-base-address-p-trailing-margin: 0 !default;
 

// ------------Buttons------------- //
// $slate-button-display: inline-block !default;
// $slate-button-background: transparent !default;
$slate-button-border-width: 0;
// $slate-button-border-style: solid !default;
// $slate-button-border-colour: transparent;
// $slate-button-border-radius: 0;
// $slate-button-colour: $slate-base-body-colour !default;
// $slate-button-colour--contrast: $slate-contrast-colour !default;
// $slate-button-font-family: $slate-base-body-font-family !default;
// $slate-button-font-size: 0.9rem !default;
// $slate-button-font-weight: $slate-base-body-font-weight !default;
// $slate-button-letter-spacing: 0.05em !default;
// $slate-button-line-height: 1 !default;
$slate-button-padding: 1rem 1rem;
// $slate-button-text-decoration: none !default;
// $slate-button-text-transform: uppercase !default;
// $slate-button-transition: background $slate-animation-timing $slate-animation-easing,
//                           color $slate-animation-timing $slate-animation-easing !default;
// $slate-button-will-change: background, color !default;

// $slate-button-colour--visited: $slate-button-colour !default;
// $slate-button-text-decoration--visited: $slate-button-text-decoration !default;

// $slate-button-outline--focus: none !default;

// $slate-button-cursor--hover: pointer !default;

// $slate-button-font-size--small: 0.6rem !default;
// $slate-button-font-size--large: 1.2rem !default;
// $slate-button-padding--small: $slate-button-padding !default;
// $slate-button-padding--large: 0.4rem 0.6rem !default;

// $slate-button-primary-colour: $slate-primary-colour !default;
// $slate-button-secondary-colour: $slate-secondary-colour !default;
// $slate-button-good-colour: $slate-good-colour !default;
// $slate-button-bad-colour: $slate-bad-colour !default;

// // Leave these as 0 to have the theme calculate colours automatically
// $slate-button-background-override--contained--hover: 0 !default;
// $slate-button-colour-override--contained--hover: 0 !default;
// $slate-button-border-colour-override--contained: 0 !default;

// $slate-button-background-primary-override--hover: $red;
// $slate-button-colour-primary-override--contained: 0 !default;
$slate-button-background-primary-override--contained--hover: $red;
// $slate-button-colour-primary-override--contained--hover: 0 !default;
$slate-button-border-colour-primary-override--contained: $slate-primary-colour;

// $slate-button-background-secondary-override--hover: 0 !default;
// $slate-button-colour-secondary-override--contained: 0 !default;
// $slate-button-background-secondary-override--contained--hover: 0 !default;
// $slate-button-colour-secondary-override--contained--hover: 0 !default;
// $slate-button-border-colour-secondary-override--contained: 0 !default;

// $slate-button-background-good-override--hover: 0 !default;
// $slate-button-colour-good-override--contained: 0 !default;
// $slate-button-background-good-override--contained--hover: 0 !default;
// $slate-button-colour-good-override--contained--hover: 0 !default;
// $slate-button-border-colour-good-override--contained: 0 !default;

// $slate-button-background-bad-override--hover: 0 !default;
// $slate-button-colour-bad-override--contained: 0 !default;
// $slate-button-background-bad-override--contained--hover: 0 !default;
// $slate-button-colour-bad-override--contained--hover: 0 !default;
// $slate-button-border-colour-bad-override--contained: 0 !default;
// ////

// $slate-button-lighten-amount: 20 !default;
// $slate-button-darken-amount: 4 !default;
// $slate-button-box-shadow--active: inset inset 0.05em 0.05em 0.5em !default; // Don't include the colour here
// $slate-button-background--contained: change-color($slate-button-colour, $lightness: (100 - $slate-button-darken-amount)) !default;
// $slate-button-background--contained--lightness-correction-threshold: 80% !default;
// $slate-button-color--contained--lightness-correction: 25 !default;

// ------------Grid------------- //
// $slate-grid-selector: '.grid';
// $slate-padded-grid-selector: '.padded-grid';

$slate-grid-division-denominators: 1, 2, 3, 4, 5;
$slate-grid-padded-grid-padding-horizontal: 2rem;
$slate-grid-padded-grid-padding-vertical: 2rem;
// $slate-grid-trailing-margin: 5rem;

// ------------Hamburger------------- //
$slate-hamburger-bar-colour: $white;
$slate-hamburger-width: 34px;
$slate-hamburger-height: 22px;
$slate-hamburger-bar-height: 2px;

// ------------Section------------- //
$slate-layout-section-vertical-padding: 5rem;
// $slate-layout-section-horizontal-padding: 0 !default;

$slate-layout-section-alternate-bg: transparent;

// $slate-layout-container-max-width: 1280px !default;
// $slate-layout-container-center-margin: 0 auto !default;

// $slate-layout-container-vertical-padding: $slate-default-spacing !default;
// $slate-layout-container-horizontal-padding: $slate-default-spacing !default;


// ------------Lists------------- //
// $slate-lists-padding: 0 0 0 1.2em !default;
// $slate-lists-trailing-margin: $slate-default-spacing !default;

// $slate-lists-ul-list-style: disc outside none !default;
// $slate-lists-ul-padding: $slate-lists-padding !default;
// $slate-lists-ul-trailing-margin: $slate-lists-trailing-margin !default;

// $slate-lists-ol-list-style: decimal outside none !default;
// $slate-lists-ol-padding: $slate-lists-padding !default;
// $slate-lists-ol-trailing-margin: $slate-lists-trailing-margin !default;


// ------------Menu-bar------------- //
// $slate-menu-bar-background: transparent !default;
// $slate-menu-bar-z-index: 10 !default;

// $slate-menu-bar-container-max-width: $slate-layout-container-max-width !default;
$slate-menu-bar-container-vertical-padding: 2rem; //issue - padding not registerd by menu-bar--wrapper javascript
// $slate-menu-bar-container-horizontal-padding: 2rem;

// $slate-menu-bar-menu-item-margin: 2 * $slate-default-spacing !default;
// $slate-menu-bar-items-font-size: 2rem;
// $slate-menu-bar--items-margin: 0 !default;
// $slate-menu-bar-items-vertical-padding: 2rem;
// $slate-menu-bar-items-horizontal-padding: 0 !default;
// $slate-menu-bar-items-text-decoration: none !default;
// $slate-menu-bar-items-colour: $slate-highlight-colour !default;
// $slate-menu-bar-items-transition: color $slate-animation-timing $slate-animation-easing !default;
// $slate-menu-bar-items-will-change: color !default;

// $slate-menu-bar-items-colour--visited: $slate-menu-bar-items-colour !default;
// $slate-menu-bar-items-text-decoration--visited: $slate-menu-bar-items-text-decoration !default;

// $slate-menu-bar-items-colour--hover: darken($slate-menu-bar-items-colour,15%) !default;
// $slate-menu-bar-items-text-decoration--hover: $slate-menu-bar-items-text-decoration !default;

// ------------Mobile-menu-bar------------- //
$slate-mobile-menu-drawer-z-index: 0;

// $slate-mobile-menu-drawer-max-width: 600px !default;

$slate-mobile-menu-drawer-background: $lightBlue;

// $slate-mobile-menu-drawer-padding:  ($slate-menu-bar-items-font-size + 2* $slate-menu-bar-items-vertical-padding + 2*$slate-menu-bar-container-vertical-padding + $slate-default-spacing)
//                                     $slate-default-spacing $slate-default-spacing !default;

// $slate-mobile-menu-drawer-items-colour: $slate-highlight-colour !default;
$slate-mobile-menu-drawer-items-font-size: 2rem;
// $slate-mobile-menu-drawer-items-padding: $slate-default-spacing/3 $slate-default-spacing/4 !default;
$slate-mobile-menu-drawer-items-divider: none;

// ------------Spacing------------- //
// $slate-default-spacing: 1rem !default;


// ------------Sticky-menu-bar------------- //
// $slate-sticky-menu-bar-transition--stuck: background $slate-animation-timing $slate-animation-easing !default;
// // Use the 'stuck' state as the default, because generally we will want to change the transition in the other diretion
// $slate-sticky-menu-bar-transition: $slate-sticky-menu-bar-transition--stuck !default;
// $slate-sticky-menu-bar-will-change: background !default;

$slate-sticky-menu-bar-background--stuck: transparent;
// $slate-sticky-menu-bar-items-colour--stuck: $slate-white !default;


// ------------Typgraphy------------- //
// $slate-typography-max-width: 760px !default;
// $slate-typography-margin: 0 auto !default;
// $slate-typography-padding-vertical: 0 !default;
// $slate-typography-padding-horizontal: $slate-default-spacing !default;
// $slate-typography-trailing-margin: $slate-default-spacing !default;

// $slate-typography-wide-max-width: 980px !default;

// ------------Typgraphy------------- //
// $slate-breakpoints-small: 360px;
// $slate-breakpoints-medium: 960px !default;
// $slate-breakpoints-large: 1200px !default;
// $slate-breakpoints-x-large: 1600px !default;

// ------------Forms------------- //
// $slate-forms-form-trailing-margin: $slate-default-spacing !default;

$slate-forms-input-background: $input-box-colour;
// $slate-forms-input-display: inline-block !default;
$slate-forms-input-colour: $slate-primary-colour;
// $slate-forms-input-font-family: $slate-base-body-font-family !default;
// $slate-forms-input-font-size: $slate-base-body-font-size !default;
// $slate-forms-input-font-weight: $slate-base-body-font-weight !default;
// $slate-forms-input-appearance: none !default;
// $slate-forms-input-border-width: 1px !default;
// $slate-forms-input-border-style: solid !default;
// $slate-forms-input-border-colour: $slate-dark-neutral !default;
// $slate-forms-input-outline: none !default;
// $slate-forms-input-line-height: 1 !default;
// $slate-forms-input-width: auto !default;
// $slate-forms-input-height: auto !default;
// $slate-forms-input-max-width: none !default;

$slate-forms-input-border-radius: 0;
// $slate-forms-input-padding: 0.4rem 0.4rem !default;

// $slate-forms-input-border-width--focus: $slate-forms-input-border-width !default;
// $slate-forms-input-border-style--focus: $slate-forms-input-border-style!default;
// $slate-forms-input-border-colour--focus: $slate-black !default;

// $slate-forms-textarea-resize: vertical !default;

// $slate-forms-select-background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='rgb(68, 68, 68)' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !default;
// $slate-forms-select-background-position: calc(100% - #{$slate-forms-input-padding-right--calculated}) 50% !default;
// $slate-forms-select-padding-right: 3 * $slate-forms-input-padding-right--calculated !default;
// $slate-forms-select-line-height: $slate-base-body-line-height !default;

// $slate-forms-label-display: block !default;
// $slate-forms-label-font-size: 0.8rem !default;
// $slate-forms-label-font-family: $slate-base-body-font-family !default;
$slate-forms-label-font-weight: $slate-base-body-font-weight;
// $slate-forms-label-line-height: 1 !default;
// $slate-forms-label-text-transform: none !default;
$slate-label-colour: $slate-primary-colour;

// $slate-forms-label-check-font-weight: $slate-base-body-font-weight !default;
// $slate-forms-label-check-height: 0.8rem !default;
// $slate-forms-label-check-width: $slate-forms-label-check-height !default;
// $slate-forms-label-check-background: $slate-highlight-colour !default;
// $slate-forms-label-check-vertical-align: -0.15em !default;
// $slate-forms-label-check-margin: 0 $slate-default-spacing 0 0 !default;

// ------------Mixins------------- //
@import "~@doodl/slate/scss/mixins";
@mixin slate-base-h1-mixin {
    @include respond(medium) {
        font-size: 3rem;
    }
}

$slate-defaults-border-radius: 0;