$box-shadow: 0em 1px 3px 0 #6d6d6d;

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 10rem;
    margin-left: 1rem;
    padding: 1rem 0;
    background-color: $red;
    box-shadow: $box-shadow;
    @include respond(medium) {
        margin-left: 3rem;
        padding: 4rem 0;
    }
}

.block-type-2 {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: #fff;
    color: #293144;
    box-shadow: $box-shadow;
    .block-img-container {
        display: flex;
        flex: 1 1 70%;
        justify-content: center;
        padding: .5rem;
        img {
            align-self: center;
            width: 100px;
            height: auto;
        }
    }
    .block-text-container {
        display: flex;
        flex: 2 2 30%;
        align-items: center;
        justify-content: center;
        padding: .5rem 0;
        p {
            font-size: .8rem;
            text-transform: uppercase;
            
        }
    }
}

.grid-container {
    padding: 0 1rem;
}
.grid {
    justify-content: center;
}