.element-image {
    
    &--narrowscreen {
        object-fit: cover;
        width: 100%;
        min-height: 7rem;
        background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,hsla(186, 6%, 31%, 0.3) 58%,hsla(0,0%,100%,0));
        object-position: center;
    }
    &--widescreen {
        object-fit: cover;
        width: 100%;
        min-height: 7rem;
        background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,hsla(186, 6%, 31%, 0.3) 58%,hsla(0,0%,100%,0));
        object-position: center;
        @include respond(small) {
            max-width: 75%;
        }
    }

    &--average {
        max-width: 85%;
        @include respond(small) {
            max-width: 65%;
        }
        @include respond(medium) {
            max-width: 40%;
        }
    }
    &--box {
        max-width: 85%;
        @include respond(small) {
            max-width: 55%;
        }
        @include respond(medium) {
            max-width: 30%;
        }
    }
}