.contact-form {
    color: $slate-primary-colour;
    &-header {
        padding-bottom: $slate-default-spacing;
    }
    &-details {
        margin-top: 1rem;
        &-text {
            margin-bottom: $slate-default-spacing;
        }
        iframe {
            width: 100%;
            @include respond (medium) {
                max-width: 80%;     
            }
        }
    }
    .contact-form-greeting {
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    button {
        float: right;
    }
    ul {
        padding: 0;
        li {
            &::marker {
                content: none;
            }
        }
    }
    &-item {
        padding-left: 1.5rem;
        text-indent: -1.5rem;
    }
}