

.video-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 450px;
    margin: 0 auto;
    
    filter: drop-shadow(2px 4px 6px black);
    
    .video-border {
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        pointer-events: none;
    }
    .video {
        position: relative;
        z-index: -5;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
        border-radius: 2.8rem;
        background-image: linear-gradient(45deg, black, black);
        background-position: center;
        background-size: 90% 100%;
        background-repeat: no-repeat;
        
        
    }
    iframe {
        padding: 0 80%;
        // border-radius: 1.5rem; //48px
        
        @include respond(medium) {
            min-width: 31rem;
            height: 17rem;
            padding: .9%;
            border-radius: 2.5rem; //48px
            transform: rotate(-90deg);
        }
    }
    @include respond(medium) {
        border-radius: 2.5rem;
    }
    @include respond(medium) {
        width: 350px;
        height: 600px;
        margin: -1.5rem auto;
        transform: rotate(90deg);
    }
}