.menu {
    padding: $slate-default-spacing 0;
    .hamburger {
        position: fixed;
        top: 40px;
        right: 30px;
        z-index: 10;
        display: inline;
    }
    &--logo-container {
        display: block;
        width: 200px;
        margin: 0 auto;
    }
}


.mobile-menu-drawer {
    z-index: 5;
    &--items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        list-style: none;
        text-transform: uppercase;
        :hover {
            color: $red;
        }
        a {
            font-weight: 900;
        }
        .icon-menu {
            margin-left: 1rem;
        }
    }

    .menu-logo {
        img {
            width: 10rem;
            @include respond (medium) {
                width: auto;
            }
        }
    }

    .margin-top {
        margin-top: 1rem;
    }
}