
.tab {
    overflow: hidden;
    width: 100%;
    border-top: 2px solid $white;
    color: $white;
    
    .tab-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        
        &-button {   
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.3rem;
            border-radius: 25px;
            background-color: $red;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                width: .9rem;
                height: .2rem;
                background-color: $white;
                text-align: center;
            }
            &-line {
                position: absolute;
                
                width: .2rem;
                height: .9rem;
                background-color: $white;
                text-align: center;
            }
            
        }
    }
    &:first-child {
        border-top: none
    }
    &-content {
        height: 0;

    }
}
