.page-footer {
    padding: 1rem 0;
    background-color: $slate-primary-colour;
    .footer-content-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            .icons {
                margin-left: 0.5rem;
            }
        }
    }
}

