.text-center {
    text-align: center;
}

.button-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 450px;
    margin: 2rem auto;
}

.text-fade-in {
    overflow: hidden;
}